.App-header {
  background-color: #4281A4;
  min-height: 10vh;
  text-align: center;
  color: white;
}

.App-daily-view {
  background-image: url("./home-background.png");
  width:100%;
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 16px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-weekly-view{
  background-color: #4281A4;
  min-height: 30vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-table {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

WbSunnyOutlinedIcon{
  size: 100px;
}



